<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71756467139-ooonimpfkhqv7vf43ok268iog80oo9d0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71756467139-ooonimpfkhqv7vf43ok268iog80oo9d0</string>
	<key>API_KEY</key>
	<string>AIzaSyCK4gMRXJFyC3oVdwLLHsuKHTNcpNBvWyY</string>
	<key>GCM_SENDER_ID</key>
	<string>71756467139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baranh.baranhuser.baranhUser</string>
	<key>PROJECT_ID</key>
	<string>baranh-ee4b8</string>
	<key>STORAGE_BUCKET</key>
	<string>baranh-ee4b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71756467139:ios:cd462735192bab6c250b76</string>
</dict>
</plist>